body {
  font-family: 'Cinzel', serif;
  background-color: #2f2f2f;
  color: #d4af37;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.casinha {
  background-color: #4b4b4b;
  border: 2px solid #6d6d6d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  color: #d4af37;
}

.casinha:hover {
  background-color: #5e5e5e;
  transform: scale(1.1);
}

.black {
  background-color: #3b3b3b;
}

#vencedor {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #d4af37;
}

#resetButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #6d6d6d;
  border: 1px solid #d4af37;
  color: #d4af37;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#resetButton:hover {
  background-color: #4b4b4b;
  transform: scale(1.1);
}
